<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peanut.mapper.PlanPOMapper" >
  <resultMap id="BaseResultMap" type="com.peanut.entity.po.PlanPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_date" property="planDate" jdbcType="VARCHAR" />
    <result column="plan_event" property="planEvent" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_date, plan_event, last_time, member_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.peanut.entity.po.PlanPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lol_plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lol_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lol_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.peanut.entity.po.PlanPOExample" >
    delete from lol_plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peanut.entity.po.PlanPO" >
    insert into lol_plan (id, plan_date, plan_event, 
      last_time, member_id)
    values (#{id,jdbcType=INTEGER}, #{planDate,jdbcType=VARCHAR}, #{planEvent,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.peanut.entity.po.PlanPO" >
    insert into lol_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="planDate != null" >
        plan_date,
      </if>
      <if test="planEvent != null" >
        plan_event,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=VARCHAR},
      </if>
      <if test="planEvent != null" >
        #{planEvent,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peanut.entity.po.PlanPOExample" resultType="java.lang.Integer" >
    select count(*) from lol_plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lol_plan
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planDate != null" >
        plan_date = #{record.planDate,jdbcType=VARCHAR},
      </if>
      <if test="record.planEvent != null" >
        plan_event = #{record.planEvent,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lol_plan
    set id = #{record.id,jdbcType=INTEGER},
      plan_date = #{record.planDate,jdbcType=VARCHAR},
      plan_event = #{record.planEvent,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peanut.entity.po.PlanPO" >
    update lol_plan
    <set >
      <if test="planDate != null" >
        plan_date = #{planDate,jdbcType=VARCHAR},
      </if>
      <if test="planEvent != null" >
        plan_event = #{planEvent,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peanut.entity.po.PlanPO" >
    update lol_plan
    set plan_date = #{planDate,jdbcType=VARCHAR},
      plan_event = #{planEvent,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>